/* @import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@300&family=Inter:wght@900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@300;500&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  /* align-items: stretch; */
  /* background-image: "images/newLeftReview.png"; */
  margin: 0;
}

/* header {
  display: flex;
  color: white;
} */

.headerBar150px {
  color: aliceblue;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: rgb(10, 10, 10);
  justify-content: center;
  align-items: center;
  border-top: 2pt aliceblue solid;
  border-bottom: 2pt aliceblue solid;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  min-height: 3.4rem;

  position: sticky;
  top: 0;
  z-index: 1100;
}

.headerBar48px {
  /* canvas blob? */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBarTitle {
  /* border:solid white 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.headerBarTitleText {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:solid white 1px; */
  /* margin-top: 10px; */
  font-size: 26pt;
  font-weight: 500;
  text-transform: uppercase;

  text-align: justify;
  letter-spacing: 1.1rem;
  /* border-top: 1pt solid aliceblue;
  border-bottom: 1pt solid aliceblue; */
  text-indent: 1.1rem;
  max-height: 6.3rem;
  min-height: 3rem;
  white-space: nowrap;
  /* margin-right: -1.1rem; */
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

.shrink {
  height: 0vh;
  flex: 0;
}

.headerBarMenu {
  display: flex;
  flex-direction: row;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100vw;
  font-size: 1.125rem;
  text-transform: uppercase;
  background: rgb(10, 10, 10);

  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .headerBarMenu {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 1.125rem;
    text-transform: uppercase;
    background: rgb(10, 10, 10);
    font-weight: 900;
  }
}

@media only screen and (max-width: 768px) {
  .headerBarTitleText {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:solid white 1px; */
    /* margin-top: 10px; */
    font-size: 26pt;
    font-weight: 900;
    text-transform: uppercase;

    text-align: justify;
    letter-spacing: 1.1rem;
    border-top: 1pt solid aliceblue;
    border-bottom: 1pt solid aliceblue;
    max-height: 6.3rem;
    min-height: 3rem;
    white-space: nowrap;
    /* margin-right: -1.1rem; */
  }
}

.headerBarMenuInner1 {
  display: flex;
  /* min-width: 0.5vw; */
  margin-left: 7vw;
  justify-content: center;
  max-height: 6.3rem;
  min-width: 70rem;
}

@media only screen and (max-width: 768px) {
  .headerBarMenuInner1 {
    display: flex;
    /* min-width: 0.5vw; */
    justify-content: center;
    max-height: 6.3rem;
  }
}

.headerBarMenuInner2 {
  margin-right: 10vw;
  display: flex;
  min-width: 21rem;
  /* border-top: 1pt solid aliceblue;
  border-bottom: 1pt solid aliceblue; */
  max-height: 6.3rem;
  min-height: 3rem;

  align-items: center;
}

@media only screen and (max-width: 768px) {
  .headerBarMenuInner2 {
    margin-right: 10vw;
    display: flex;
    min-width: 6rem;
    /* border-top: 1pt solid aliceblue;
    border-bottom: 1pt solid aliceblue; */
    max-height: 6.3rem;
    min-height: 3rem;
    margin-top: 1pt;
    margin-bottom: 1pt;

    align-items: center;
  }
}

.headerBarMenuElement {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  font-weight: 400;
  transition: color 0.5s;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.headerBarMenuElementBold {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  transition: color 0.5s;
  letter-spacing: 0.1rem;
  font-weight: 600;
  cursor: pointer;
  /* font-style: italic; */
}

.headerBarMenuElementGrey {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  letter-spacing: 0.1rem;
  color: lightgray;
}

.headerBarMenuElement:hover {
  color: white;
  /* border-bottom: aliceblue 1pt solid;
  border-top: aliceblue 1pt solid; */
}

.bodyAreaUp {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.bodyArea {
  display: flex;
  width: 100vw;
  flex-direction: row;
  /* flex-flow: row-reverse; */
  flex: 1;
  background: rgb(10, 10, 10);
}

.borderColumnL {
  flex-shrink: 10;
  max-width: 15vw;
  width: 15vw;
  flex-direction: row;
  background: rgb(10, 10, 10);
}

/* .borderColumnR { */

/* width: 10vw;
  flex-direction: row;
  background: #3e040e;
  background: blue;


} */

@media only screen and (max-width: 768px) {
  .bodyAreaPage {
    display: flex;
    flex-direction: column;
    align-items: left;

    /* width: 54vw; */
    width: 70rem;
    max-width: 70rem;
    min-width: 70rem;
    /* height: 70rem; */
    padding: 2rem;
    /* margin-left: 247px; */
    background: rgb(10, 10, 10);
    /* min-height: 70rem; */
    /* flex-shrink: 0; */

    /* border: 1pt aliceblue solid;  */
    /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0); */
  }
}

.bodyAreaPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: aliceblue;
  padding: 2rem;
  /* width: 54vw; */
  width: 70rem;
  max-width: 90rem;
  min-width: 90rem;
  /* height: 70rem; */
  max-height: 80vh;
  margin: 2rem;
  /* margin-left: 247px; */
  background: rgb(10, 10, 10);
  /* flex-shrink: 0; */

  border: 1pt aliceblue solid;
  border-radius: 2rem;
  /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0); */
}

.bodyAreaPageTitle {
  margin-top: 4.5rem;
  min-width: 46rem;
  height: 100pw;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-align: left;
  /*lesser not bolded like this*/
}

.bodyAreaPageSkillsTitle {
  margin-top: 4.5rem;
  min-width: 46rem;
  height: 100pw;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-align: left;
  margin-top: 7rem;
  /*lesser not bolded like this*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.bodyAreaPageSkillsHeading {
  margin-top: 4.5rem;
  min-width: 46rem;
  height: 100pw;
  align-items: center;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: left;
  margin-top: 7rem;
  animation: fade-in 1s;
  /*lesser not bolded like this*/
}

.bodyAreaPageMainText {
  /* color: aqua; */
  /* font-weight: 100; */

  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  /* margin-left: 8rem; */
  width: 70rem;
}

.bodyAreaPageMainText2 {
  display: flex;
  flex-direction: row;
  /* margin-left: 8rem; */
  width: 70rem;
}

.skillsContainer {
  width: 70rem;
  display: flex;
  flex-direction: row;
  /* margin-left: 8rem; */
}

.bodyAreaPageSkills {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 54vw; */
  width: 22rem;
  max-width: 22rem;
  min-width: 22rem;
  max-height: 22rem;
  margin-top: 3rem;
  /* margin-left: 247px; */
  background: rgb(10, 10, 10);
  min-height: 70vh;
  /* flex-shrink: 0; */
  margin: 1.5rem;

  /* border: 1pt aliceblue solid;  */
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.bodyAreaPageMainInitial {
  /* border: firebrick 2px dotted; */
  font-weight: 700;
  font-size: 8.5rem;
  max-height: 8.5rem;
  margin-top: -1.9rem;
  /*lesser not bolded like this*/
}

.bodyAreaPageMainInnerBody {
  min-width: 40rem;
  height: 100pw;
  font-size: 1.25rem;
  /* font-weight: 600; */
  line-height: 2.25rem;
  text-align: justify;
  /*lesser not bolded like this*/
}

.bodyAreaPageMainInnerBody2 {
  /* width: 54vw; */
  min-width: 46rem;

  height: 100pw;
  font-size: 1.25rem;
  /* font-weight: 600; */
  line-height: 2.25rem;
  text-align: justify;
  /*lesser not bolded like this*/
}

.rightMenu {
  /* align-items:; */
  /* flex: 1; */
  /* display: flex;
  flex: 1;
  flex-direction: row; */
  display: flex;
  align-self: stretch;
  justify-content: left;
  margin-top: 3rem;
  margin-left: 1rem;
  min-height: 100vh;
  width: 20vw;
  position: relative;
  background: transparent;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.rightMenuInner {
  margin-left: 48px;
  width: 100%;
}

.rightMenuElement {
  border: aliceblue solid;
  font-weight: 500;
  line-height: 2rem;
  border-width: 0px 0px 1pt 0px;
  justify-content: center;

  transition: color 0.5s;
  margin-bottom: 2rem;
}

.rightMenuElement img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.rightMenuElement a {
  color: inherit;
  text-decoration: none;
}
.headerBarMenu a {
  color: inherit;
  text-decoration: none;
}

.rightMenuElement:hover {
  /* animation: fadeToGrey 1; */
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
